.navbar-container{
    height: 54px;
    background-color: var(--flipkart-lightBlue);
    /* background-color: white; */
    color: var(--header-text-color);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar{
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 124px;
}

.navbar-logo{
    width: 80px;
    margin-top: 8px;
}

.navbar-search{
    display: flex;
    justify-content: space-between;
    max-width: 444px;
    width: calc(100% - 540px);
    background-color: var(--primary-bg-color);
    border-radius: 2px;
}

.navbar-search-button{
    height: 24px;
    width: 44px;
    border: none;
    background-color: var(--primary-bg-color);
    font-size: 20px;
    padding: 4px 12px 0 8px;
    color: var(--flipkart-lightBlue);
    cursor: pointer;
}

.navbar-search-icon{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.login-button{
    padding: 5px 40px;
    height: 32px;
    background-color: var(--primary-bg-color);
    color: var(--flipkart-lightBlue);
    border: 1px solid var(--flipkart-lightBlue);
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
}

.navbar-become-seller{
    font-size: 12px;
    cursor: pointer;
}

.navbar-more{
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.navbar-more-down{
    position: absolute;
    top: 10%;
    padding: 0 2px;
}

.navbar-cart{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.cart{
    font-size: 15px;
    padding: 0.5px;
    color: var(--header-text-color);
}